name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Cancel concurrent in-progress jobs or run on pull_request.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: "check --output-format concise"

  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: "format --check --diff"

  tests:
    name: Test on ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"
      - uses: astral-sh/setup-uv@v7
      - name: Run tests
        run: uv run -m coverage run --parallel -m pytest
      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ matrix.python-version }}
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: ignore

  coverage:
    name: Report coverage
    runs-on: ubuntu-latest
    needs: tests
    steps:
      # coverage needs source code: https://github.com/coveragepy/coveragepy/issues/1865
      - uses: actions/checkout@v5
      - name: Download coverage data
        uses: actions/download-artifact@v5
        with:
          pattern: coverage-data-*
          merge-multiple: true
      - uses: astral-sh/setup-uv@v7
      - name: Combine & report coverage
        run: |
          uvx coverage combine
          uvx coverage report --format=markdown --fail-under=0 >> $GITHUB_STEP_SUMMARY
          uvx coverage report --show-missing
